<mat-nav-list>
  <!--    <div class="profile-card">-->
  <!--        <div class="header">-->
  <!--            <h2>Soufiane FADIL</h2>-->
  <!--            <h4>example@email.com</h4>-->
  <!--        </div>-->
  <!--        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">-->
  <!--    </div>-->

  <mat-divider></mat-divider>

  <!-- <h2 matSubheader>Pages</h2> -->

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    ><mat-icon>dashboard</mat-icon>User Metrics</a
  >
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/collection-route"
    ><mat-icon>navigation</mat-icon>Collection Route</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/heat-map"
    ><mat-icon>map</mat-icon>Heat Map</a
  >
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/disposal-stats"
    ><mat-icon>assessment</mat-icon>Disposal Statistics</a
  >
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/timeline-charts"
    ><mat-icon>timeline</mat-icon>Timeline Charts</a
  >
<!--  <a-->
<!--    mat-list-item-->
<!--    routerLinkActive="list-item-active"-->
<!--    routerLink="/ekva"-->
<!--  ><mat-icon>supervised_user_circle</mat-icon>Ekva</a-->
<!--  >-->


  <!-- <mat-divider></mat-divider> -->

  <!--    <h2 matSubheader>Tools</h2>-->

  <!--    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">-->
  <!--        <mat-icon>import_contacts</mat-icon>-->
  <!--        Contacts-->
  <!--    </a>-->

  <!--    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">-->
  <!--        <mat-icon>contact_phone</mat-icon>-->
  <!--        Leads-->
  <!--    </a>-->
</mat-nav-list>
