ul li {
  list-style: none;
}
mat-toolbar {
  background-color: #135e4f;
  color: white;
}

.nav-link {
  float: right;
}

.displayName {
  font-size: 15px;
}

.loginButton {
  color: white;
  font-weight: bold;
}
