<div id="pickupsContainer">
  <h1>Pickup Schedule</h1>

  <p>Pickups Scheduled For Today.</p>

  <ul class="list-section">
    <li id="pickupLocation" *ngFor="let location of uniqueLocations">
      {{ location }}
    </li>
  </ul>
</div>

<!--<agm-map [latitude]="latitude" [longitude]="longitude">-->
<!--<agm-marker *ngFor="let bin of bins | async" [latitude]="bin.location.latitude" [longitude]="bin.location.longitude">-->

<!--</agm-marker>-->
<!--</agm-map>-->

<agm-map>
  [latitude]="latitude" [longitude]="longitude">
  <agm-direction
    *ngFor="let bin of bins | async"
    [origin]="origin"
    [destination]="destination"
    [waypoints]="[
      { location: { lat: bin.coordinates.latitude, lng: bin.coordinates.longitude } }
    ]"
  >
  </agm-direction>
</agm-map>
