agm-map {
  height: 750px;
}

#shade {
  width: 20px;
  height: 20px;
  background-color: #009933;
  border-radius: 50%;
  opacity: 50%;
}

#heading {
  text-align: center;
  margin-bottom: 30px;
  color: #da190b;
}
