<h1>Disposal Statistics</h1>

<p>Overall Disposals Made By Users.</p>
<div class="dropdown">
  <button class="dropbtn">
    During The Period &nbsp; <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <div class="dropdown-content">
    <a>Last Week</a>
    <a>Last Month</a>
    <a>Last Three Month</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="tableHeading">Disposal Type</th>
      <th class="tableHeading">
        <div class="dropdown">
          <button class="dropbtn">
            Location &nbsp;<mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <div class="dropdown-content">
            <a>Dehiwala-Mt. Lavania</a>
            <a>Wellawatte</a>
            <a>Bambalapitiya</a>
            <a>Kollupitiya</a>
            <a>Fort</a>
            <a>Havelock</a>
            <a>Borella</a>
            <a>Rajagiriya</a>
          </div>
        </div>
      </th>
      <th class="tableHeading">Quantity</th>
      <th class="tableHeading">Percentage</th>
    </tr>
  </thead>

  <tbody>
    <tr class="tableRow">
      <td>Pet Bottles</td>
      <td>Colombo</td>
      <td>{{ petBottlesCount }}</td>
      <td>{{ petBottlesPercentage }}%</td>
    </tr>
    <tr class="tableRow">
      <td>Milk Packets</td>
      <td>Colombo</td>
      <td>{{ milkPacketsCount }}</td>
      <td>{{ milkPacketsPercentage }}%</td>
    </tr>
    <tr class="tableRow">
      <td>Juice Boxes</td>
      <td>Colombo</td>
      <td>{{ juiceBoxesCount }}</td>
      <td>{{ juiceBoxesPercentage }}%</td>
    </tr>
    <tr class="tableRow">
      <td>Paper Items</td>
      <td>Colombo</td>
      <td>{{ paperItemsCount }}</td>
      <td>{{ paperItemsPercentage }}%</td>
    </tr>
    <tr class="tableRow">
      <td>Tin Cans</td>
      <td>Colombo</td>
      <td>{{ tinCansCount }}</td>
      <td>{{ tinCansPercentage }}%</td>
    </tr>
    <tr class="tableRow">
      <td>Cardboard Boxes</td>
      <td>Colombo</td>
      <td>{{ cardBoardBoxesCount }}</td>
      <td>{{ cardBoardBoxesPercentage }}%</td>
    </tr>
    <tr class="tableRow">
      <td>E-Waste Items</td>
      <td>Colombo</td>
      <td>{{ eWasteCount }}</td>
      <td>{{ eWastePercentage }}%</td>
    </tr>
    <tr class="tableRow">
      <td>Plastic Items</td>
      <td>Colombo</td>
      <td>{{ plasticItemsCount }}</td>
      <td>{{ plasticItemsPercentage }}%</td>
    </tr>
    <tr class="tableRow">
      <td>Glass Items</td>
      <td>Colombo</td>
      <td>{{ glassItemsCount }}</td>
      <td>{{ glassItemsPercentage }}%</td>
    </tr>
    <tr class="tableRow">
      <td>Flip-Flops</td>
      <td>Colombo</td>
      <td>{{ flipFlopsCount }}</td>
      <td>{{ flipFlopsPercentage }}%</td>
    </tr>
  </tbody>
</table>

<br />

<app-pie-chart></app-pie-chart>
