h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.total {
  font-size: 3em;
}

.mat-icon,
.description {
  font-size: 1.3em;
}

.mat-icon {
  position: relative;
  top: 5px;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .text-improvement {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .text-percentage {
      display: flex;
      .mat-icon {
        top: 2px;
        color: #15bf34;
      }
      .description {
        font-weight: 500;
      }
    }
    .percentage-description {
      font-size: 14px;
    }
  }
  .text-description {
    .label {
      font-weight: 400;
    }
  }
}
